<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{ show.title }}</title>
</head>
<body id="show">
    <a id="right" href="/shows">Go back</a>
    <h1>TV Show {{ show.id }}</h1>
    <p>Title: {{ show.title }}</p>
    <p>Network: {{ show.network }}</p>
    <p>Release Date: {{ show.release_date }}</p>
    <p>Description: {{ show.description }}</p>
    <p id="largemargin">Last Updated: {{ show.updated_at }}</p>
    <p><a href="/shows/edit/{{ show.id }}">Edit</a>  |  <a href="/shows/delete/{{ show.id }}">Delete</a></p>
</body>
</html>